<div class="row">
  <div class="col-xs-4 col-xs-offset-4">

    <h1>Editing Dealimage</h1>
    
    <%= render 'form', dealimage: @dealimage %>
    
    <%#= link_to 'Show', @dealimage %>
    <%#= link_to 'Back', dealimages_path %>
    
    <%= link_to '<= Back to Deal',
                          @dealimage.deal, :class => 'btn btn-primary'  %>
    <%= link_to 'Back to Project =>',
                          @dealimage.deal.project, :class => 'btn btn-default'  %>
  </div>
</div>