<h1>Editing Dealimage</h1>

<%= render 'form', dealimage: @dealimage %>

<%#= link_to 'Show', @dealimage %>
<%#= link_to 'Back', dealimages_path %>

<%= link_to t('.back', :default => t("helpers.links.back")),
                      @dealimage.deal.areas.first, :class => 'btn btn-default'  %>