<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Cheers <%= @user.email %></h1>
    <p>
      Status Plan is running normally as of <%= Time.now.in_time_zone('Eastern Time (US & Canada)').strftime("%A %B %d, %Y %l:%M%P %Z") %> / <%= Time.now.in_time_zone('Central Time (US & Canada)').strftime("%l:%M%P %Z") %>.
    </p>
  </body>
</html>