<% if current_user %>
    <%= render 'portfolio' %>
<% else %>

    <center>
    <h2>Welcome dreamer!</h2>
    
    <h1 style="font-size:80pt;font-weight:600;">StatusPlan2</h1>
    
    <h3>...and now we build!</h3>
    </center>


<% end %>