<% if current_user %>
    <%= render 'portfolio' %>
<% else %>

    <h1>Hello, Dreamer! Sign up or login!!!!</h1>
    
    <h1 style="font-size:60pt;">StatusPlan 2.0</h1>
    
    <h4>...and now we build!</h4>


<% end %>