<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Cheers <%= @user.first_name %>,<br><br>
      <% @schedules.each do |s_id| %>
        <%= link_to Schedule.find(s_id).area.suite_number, Schedule.find(s_id).area %>
        from the project <%= Schedule.find(s_id).area.map.project.name %>
        has a Premises Acceptance date coming on <%= @date %>.
        <br><br>
      <% end %>
    </p>
    <p>
      <b>Are we ready?</b>
    </p>
  </body>
</html>