<br style="clear:both;"><br><br><br><br><br>
<div id="spacessearch">
<%= search_form_for @areasquery, url: project_path do |f| %>
<%#= search_form_for @areasquery, url: project_path, :remote => true do |f| %>

  <!--# Search if the name field contains...-->
  <%#= f.label :suite_number %>
  <%= f.search_field :suite_number_cont, :class => 'spaceswider' %>

  <!--# Search if an associated articles.title starts with...-->
  <%#= f.label :articles_title_start %>
  <%#= f.search_field :articles_title_start %>

  <!--# Attributes may be chained. Search multiple attributes for one value...-->
  <%#= f.label :name_or_description_or_email_or_articles_title_cont %>
  <%#= f.search_field :name_or_description_or_email_or_articles_title_cont %>

  <%= f.submit "Search", :class => "btn btn-primary jicon",
                :style => "background-color:#8cbe3b;border:0;"  %>
  <%= link_to "Clear", request.path, 
                :class => "btn btn-primary jicon",
                :style => "background-color:#e36e39;border:0;margin-top:12px;height:35px;"%>
<% end %>
</div>
<br style="clear:both;">