
<h1 style="font-family: 'simplifica';font-size:30pt;width:100%;text-align:left;">Deals
<%= link_to '+ Add Deal',
            new_deal_path(:project_id => @project, :map_id => @map),
            :class => 'btn btn-default green-button responsive-none print-none', 
            :style => 'float:right;margin-top:12px;font-family: verdana, arial, helvetica, sans-serif;' %>

<%= render '/projects/bottom_deals_list_search' %>                   
</h1>


<div id='ajaxdeals'>   

    <%= render '/projects/showdeals' %>

</div> <!-- ajaxtest -->
