

<h1 style="font-family: 'simplifica';font-size:30pt;width:100%;text-align:left;">Spaces
<%= link_to '+ Add Space',
            new_area_path(:project_id => @project, :map_id => @map),
            :class => 'btn btn-default green-button responsive-none print-none', 
            :style => 'float:right;margin-top:12px;font-family: verdana, arial, helvetica, sans-serif;' %>
<%= render '/projects/bottom_areas_list_search' %>            
</h1>

<div id='ajaxspaces'>   

    <%= render '/projects/show' %>

</div> <!-- ajaxtest -->