<!-- go back to secondcharts -->









<!--
<div class="row" id="statsRow">
  <div class="col-xs-10 col-xs-offset-1" style="">
     <%#= render '/projects/stats' %>
  </div>
</div>
-->


<div class="row" id="spacesRow">
  <div class="col-xs-10 col-xs-offset-1" style="">
    <br><br>
     <%#= render '/projects/bottom_areas_list_search' %>
     <%= render '/projects/bottom_areas_list' %>
  </div>
</div>

<div class="row" id="dealsRow">
  <div class="col-xs-10 col-xs-offset-1" style="">
     <br><br>
     <%= render '/projects/bottom_deals_list' %>
  </div>
</div>

<div class="row" id="infoRow">
  <div class="col-xs-12" style="padding-left:0;padding-right:0;">
     <%= render '/projects/project_info' %>
  </div>
</div>

<div class="row" id="settingsRow">
  <div class="col-xs-10 col-xs-offset-1" style="">
     <br><br>
     <%= render '/projects/project_settings' %>
  </div>
</div>



<br><br>
