
<div class="row">
  <div class="" style="width:100%;margin-top:-30px;margin-bottom:10px;text-align:center;position:absolute;z-index:2222;">
    <button type="button" id="leasingStatusbtn" style="" class="btn leasingStatusClicked print-none switch-buttons switch-buttons-active red-active"><img src="/images/leasing-clear.png"></button>
    <button type="button" id="areaStatusbtn" style="" class="btn areaStatusClicked print-none switch-buttons"><img src="/images/tc-clear.png"></button>
    <button type="button" id="merchandisingStatusbtn" style="" class="btn merchandisingStatusClicked print-none switch-buttons"><img src="/images/merch-clear.png"></button>
  </div>
</div>

