<div class="row" id="dealsRow">
  <div class="col-xs-10 col-xs-offset-1" style="">
     <br><br>
     <h1 style="width:100%;text-align:center;"><a href="/projects/<%= @project.id %>"><%= @projectname %></a></h1><br>
     <%= render '/projects/bottom_deals_list' %>
     <br><br>
  </div>
</div>