<!-- Deal Show bottom bar -->
      <div class="row row-correction print-none" style="background-color:#f8f8f8;/*border-top:thin solid #231f20;*/">
          <div class="col-lg-12" style="text-align:center">
            <footer style="background-color: #f8f8f8;" class="affixfooter" data-spy="affix-bottom">
              
                <% if current_user.is_admin? || current_user.role == 'Admin' || current_user.role == 'Editor'  %>
                  <%= link_to 'Kill Deal',
                    deal_path(@deal),
                    :method => 'delete',
                    :data => { :confirm => 'Are you sure you want to DELETE this Deal?'},
                    :class => 'btn btn-danger print-none float-left-until',
                    :style => 'margin-left:6px;margin-right:6px;' %>
              
                <%= link_to 'Edit Deal', edit_deal_path(@deal), 
                  :class => 'btn btn-primary print-none float-right-until', 
                  :style => 'float:right;margin-right:6px;background-color:#f16528;color:#fff;border-color:#f16528;' %>

                <% end %>

                <% if @deal.areas.count > 0 %>
                <%= link_to 'Associated Area', area_path(@deal.areas.first), 
                  :class => 'btn btn-primary print-none float-right-until', 
                  :style => 'float:right;margin-right:6px;background-color:#fff;color:#f16528;border-color:#f16528;' %>
                <% else %>
                 <%#= link_to 'Associate Area/deal', new_areas_deal_path(:project_id => @project), 
                  :class => 'btn btn-primary print-none float-right-until', 
                  :style => 'float:right;margin-right:6px;background-color:#fff;color:#f16528;border-color:#f16528;' %>

                <% end %>
            </footer>
          </div>
      </div>