<div class="row">
<!-- buttons for changing the color layers with script for buttons -->
  <div class="" style="width:100%;margin-top:10px;margin-bottom:10px;text-align:center;">
    <button type="button" id="FirstDealbtn" style="" class="btn FirstDealClicked print-none deal-switch-buttons deal-switch-buttons-active deal-red-active">First</button>
    <button type="button" id="SecondDealbtn" style="" class="btn SecondDealClicked print-none deal-switch-buttons">Second</button>
    <button type="button" id="ThirdDealbtn" style="" class="btn ThirdDealClicked print-none deal-switch-buttons">Third</button>
  </div>
</div>



<div class="row">
  <div class="col-xs-8 col-xs-offset-2" id="FirstDealRow">
    This is the deal switch area
  </div>
</div>

<div class="row">
  <div class="col-xs-8 col-xs-offset-2" id="SecondDealRow">
    This is the deal switch area
  </div>
</div>

<div class="row">
  <div class="col-xs-8 col-xs-offset-2" id="ThirdDealRow">
    This is the deal switch area
  </div>
</div>