<div class="row">
<!-- buttons for changing the color layers with script for buttons -->
  <div class="" style="width:100%;margin-top:10px;margin-bottom:10px;text-align:center;">
    <button type="button" id="dealInfoButton" style="" class="btn print-none deal-switch-buttons deal-buttons-active">Deal Info</button>
    <button type="button" id="secondDealbtn" style="" class="btn print-none deal-switch-buttons">Second</button>
    <button type="button" id="thirdDealbtn" style="" class="btn print-none deal-switch-buttons">Third</button>
  </div>
</div>



<div class="row">
  <div class="col-xs-8 col-xs-offset-2" id="firstDealRow">
    This is the first deal switch area
  </div>
</div>

<div class="row">
  <div class="col-xs-8 col-xs-offset-2" id="secondDealRow">
    This is the second deal switch area
  </div>
</div>

<div class="row">
  <div class="col-xs-8 col-xs-offset-2" id="thirdDealRow">
    This is the third deal switch area
  </div>
</div>


<style>
.deal-buttons-active,.deal-buttons-active:focus { background-color: #000; color:#fff;
            border:0; outline:0 !important; }
.deal-buttons-active:hover {color:#ddd;}
.deal-switch-buttons:focus { outline:0 !important; }
</style>


<script>
  $(document).ready(function(){
      
      //click leasing
    $('#dealInfoButton').click(function (){
      $('#firstDealRow').show("slow");
      $('#secondDealRow').hide("slow");
      $('#thirdDealRow').hide("slow");
      
      $( "#dealInfoButton" ).removeClass( "" ).addClass( "deal-buttons-active" );
      $( "#secondDealbtn" ).removeClass( "deal-buttons-active" ).addClass( "" );
      $( "#thirdDealbtn" ).removeClass( "deal-buttons-active" ).addClass( "" );
    });  
    
    $('#secondDealbtn').click(function (){
      $('#firstDealRow').hide("slow");
      $('#secondDealRow').show("slow");
      $('#thirdDealRow').hide("slow");
      
      $( "#dealInfoButton" ).removeClass( "deal-buttons-active" ).addClass( "" );
      $( "#secondDealbtn" ).removeClass( "" ).addClass( "deal-buttons-active" );
      $( "#thirdDealbtn" ).removeClass( "deal-buttons-active" ).addClass( "" );
    });  
    
    $('#thirdDealbtn').click(function (){
      $('#firstDealRow').hide("slow");
      $('#secondDealRow').hide("slow");
      $('#thirdDealRow').show("slow");
      
      $( "#dealInfoButton" ).removeClass( "deal-buttons-active" ).addClass( "" );
      $( "#secondDealbtn" ).removeClass( "deal-buttons-active" ).addClass( "" );
      $( "#thirdDealbtn" ).removeClass( "" ).addClass( "deal-buttons-active" );
    });  

  });

  //this happens on load
  $(document).ready(function() {
    setTimeout(function() {
      $('#secondDealRow').hide("slow");
      $('#thirdDealRow').hide("slow");
    }, 1000);
  });
</script>
<!-- END buttons for changing the color layers with script for buttons -->