.dropdown-submenu {
position: relative;
}

.dropdown-submenu>.dropdown-menu {
top: 6px;
left: 100%;
margin-top: -6px;
margin-left: -1px;
-webkit-border-radius: 0 0px 0px 6px;
-moz-border-radius: 0 0px 0px 6px;
border-radius: 0 0px 0px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
display: block;
}

/*
couldn't get this caret to look right
.dropdown-submenu>a:after {
display: block;
content: " ";
float: right;
width: 0;
height: 0;
border-color: transparent;
border-style: solid;
border-width: 5px 0 5px 5px;
border-left-color: #ccc;
margin-top: 5px;
margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
border-left-color: #fff;
}
*/

.dropdown-submenu.pull-left {
float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
left: -100%;
margin-left: 10px;
-webkit-border-radius: 0px 0px 0px 6px !important;
-moz-border-radius: 0px 0px 0px 6px !important;
border-radius: 0px 0px 0px 6px !important;
}


@media only screen and (max-width: 768px) {
     ul.navbar-nav {width:100%;margin-left:0;margin-right:0;}
    .dropdown-menu-right {float:left !important;width:100%;text-align:center;margin-left:0;margin-right:0;margin-top:1%;margin-bottom:1%;}
    .dropdown-menu-right a {background-color:#ddd;}
    .nav {padding-left:0;padding-right:0;}
    .nav.navbar-nav li a {margin-right:0;}
    
    
    .dropdown-submenu > .dropdown-menu {
        display: block;
    }

}