#spacessearch, #dealssearch {float:right;margin-right:20px;}

#spacessearch input, #dealssearch input, .additionalContext {height:35px;margin-top:12px;font-size:14px;}

.spaceswider {width:300px;}


@media only screen and (max-width: 1000px) {
    .spaceswider {max-width:60%; min-width:50%;}
    #spacessearch {margin-left:auto;margin-right:auto;text-align:center;margin-top:10px;margin-bottom:10px;}
}