<% if current_user %>
<h1>Editing Icon</h1>

<%= render 'form', icon: @icon %>

<%= link_to 'Show', @icon %> |
<%= link_to 'Back', icons_path %>
<% else %>
 <h2>Must be logged in. <a href="/" class="btn btn-default">Return Home</a></h2>
<% end %>