<div class="header">
  <span class="col-xs-6" style="font-size: 35px; text-transform: uppercase"><%= @project.name %></span>
  <div class="col-xs-6" style="display: inline-block; text-align: right;">
    <span style="font-size: 30px;" class="simplifica">Lease Status Report - WIP</span><br>
    <span style="font-size: 15px"><%= Time.zone.now.strftime("%B %d, %Y") %></span>
  </div>
</div>
